body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

div {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 10px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
}

img {
    border-radius: 10px;
    width: 100%;
}

h2 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

p {
    font-weight: 400;
    color: hsl(216, 15%, 47%);
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-bottom: 10px;
}